#wishlist-box{
    height: calc(100vh - 60px);
    
    padding: 20px;
}
#wishlist-content-box{
    height: 100%;
   
}
#wishlist-items{
    height: calc(100% - 60px);
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;

}