#filter-box{
    flex: 1;
    background-color: rgb(255, 255, 255);
    
    
}
#filter-box-content{
    width: 20%;
    position: fixed;
    min-height: calc(100vh - 60px);
    top: 60px;
    left: 0px;
    padding: 10px;
}
#filter-box-content button{
   height: 30px;
   width: 60px ;
   border-radius: 3px;
   background-color: orangered;
   color: white;

}
.heading{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}
.sub-headings{
    font-size: 0.9rem;
}
.sub-headings *{
    display: flex;
    align-items: center;
    margin: 2px 0px 2px 5px;
}
.sub-headings>*{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0px ;
}
#filter-box input{
    accent-color: orangered;
}
#range-box{
    width: 90%;
}