#productlist{
    display: flex;
    width: 100%;
   
}
#products-box{
    padding: 10px;
    flex: 4;
    background-color: #80808052;
}
#products-box h2{
    height: 40px;
    display: flex;
    align-items: center;
}
#products-box > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}