*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}
body{
  width: 100vw;
  overflow-x: hidden;
  
}

button{
  border: none;
  cursor: pointer;
}
.all-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-centered{
  text-align: center;
}
